
 .locations {
	 height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    box-sizing: border-box;
    padding: 10px;
}

 .amenities {
    height: 100%;
    width: 25%;
    box-sizing: border-box;
    padding: 10px;
}

 .amenities h3 {
    font-weight: 600;
}

 .locations h4 {
    font-weight: 400;
    font-size: 14px;
}
