
.places h1 {
    font-size: 30px;
    text-align: left;
    margin-bottom: 2px;
}

.places .places-container {
    display: flex;
    width: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.places-container article {
    display: block;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.places-container article h2 {
    font-size: 30px;
    text-align: center;
}
